<script>
  window.onload = function() {
    let mainNav = document.getElementById('js-menu');
    let navBarToggle = document.getElementById('js-navbar-toggle');

    navBarToggle.addEventListener('click', function () {
      console.log("clicked");
      mainNav.classList.toggle('active');
    });
  };
</script>
<nav class="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="fas fa-bars"></i>
  </span>
  <a href="/" class="logo">
    <img src="/assets/images/TroyLogoInvert.png" width="60px" height="60px">
  </a>
  <ul class="main-nav" id="js-menu">
      <li>
          <a href="/" class="nav-links">Home</a>
      </li>
      <li>
          <a href="/blog" class="nav-links">Blog</a>
      </li>
  </ul>
</nav>